@model file_upload2.Models.Adjunto

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Adjunto</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Archivo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Archivo)
            @Html.ValidationMessageFor(model => model.Archivo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ruta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ruta)
            @Html.ValidationMessageFor(model => model.Ruta)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@Html.Partial("~/Views/Def1/FileUpload.cshtml")
